ADMIN_SESSION_SECRET=altere-este-segredo-em-producao
GOOGLE_OAUTH_REDIRECT_URI=
TURSO_DATABASE_URL=file:./data/local.db
TURSO_AUTH_TOKEN=
N8N_MEETING_WEBHOOK_URL=
N8N_WEBHOOK_SECRET=
CNPJWS_API_BASE_URL=https://publica.cnpj.ws
ENABLED_SECTOR_TABS=precificacao,fiscal
